*{
	font-size: 0px;
	margin:0px;
	padding:0px;
}
html, body{
	min-height: 100%;
	width: 100%;
	font-size: 16px;
}
header img{
	width: 100%;
}	
.hero, .acustica, .clasica{
	min-height: 350px;
	background-size: cover;
	background-repeat: no-repeat;
}
.hero{background-image: url('../images/hero.jpg');}
.acustica{background-image: url('../images/acustica.jpg');}
.clasica{background-image: url('../images/clasica.jpg');}
#responsive img{width: 100%; vertical-align: top;}

.container, #responsive{ display: none; }
@media only screen and (max-width: 768px){
	
	#responsive{ display: block; width: 100%; height: 100%;}
}
@media only screen and (min-width: 769px){
	.container{ display: block; }
}